* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 1100px;
    margin: auto;
}

.header .navbar {
    display: flex;
    align-items: center;
    gap: 160px;
    margin-left: 90px;
    padding-top: 45px;
}

.header .navbar .logo {
    cursor: pointer;
}

.header .navbar ul {
    display: flex;
    gap: 40px;
    list-style-type: none;
}

.header .navbar ul a {
    text-decoration: none;
    color: #222222;
    font-size: 15px;
    font-weight: 400;
}

.header .navbar ul a.active {
    color: #0082F3;
}

.header .navbar .burger {
    width: 30px;
    height: 28px;
    cursor: pointer;
    display: none;
}

.header .navbar .burger .bars {
    width: 100%;
    height: 2px;
    margin-bottom: 5px;
    background: #333333;
}

.header .contact {
    position: absolute;
    left: -4%;
    top: 20%;
    padding: 26px 8px;
    background: #39CDCC;
    transform: rotate(90deg) translate(-50%, -50%);
    border-radius: 6px 6px 0 0;
    color: #000;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}

.header .contact a {
    color: black;
}

.header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .wrapper .left {
    width: 435px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.wrapper .left .title {
    font-size: 55px;
    font-weight: 400;
    color: #333;
}

.wrapper .left .text {
    font-size: 24px;
    font-weight: 400;
    color: #333333;
}

.buttons {
    display: flex;
    gap: 8px;
    cursor: pointer;
}

.buttons .google,
.buttons .apple {
    display: flex;
    padding: 11px 18px;
    background: #EEEAFF;
    align-items: center;
}

.buttons .google i,
.buttons .apple i {
    font-size: 25px;
    margin-right: 6px;
    color: #582EFF;
}

.buttons .google .item h3,
.buttons .apple .item h3 {
    font-size: 10px;
    color: #545659;
}

.buttons .google .item h2,
.buttons .apple .item h2 {
    font-size: 18px;
    color: #582EFF;
}

.section {
    padding: 140px 0 88px;
}

.section .main {
    display: flex;
    gap: 144px;
    flex-wrap: wrap;
}

.main .right {
    width: 392px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.main .right .buttons {
    display: flex;
    gap: 10px;
}

.main .right .title {
    font-size: 45px;
    font-weight: 400;
    color: #333333;
}

.main .right .text {
    font-size: 24px;
    font-weight: 400;
    color: #333333;
}

.right .buttons .google,
.right .buttons .apple {
    padding: 0 18px;
}

.work {
    padding: 0 0 30px;
}

.work .work-title {
    text-align: center;
    padding-bottom: 40px;
    font-size: 45px;
    font-weight: 400;
    color: #333333;
}

.work .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.work .box .card {
    width: 288px;
    height: 327px;
    padding: 42px 20px 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #fff;
    box-shadow: 0 0 10px #B7B7B7;
    border-top: 12px solid #582EFF;
}

.work .box .card .title {
    font-size: 17px;
    font-weight: 400;
    color: #333333;
    margin: 50px 0 31px;
}

.work .box .card .text {
    font-size: 16px;
    font-weight: 400;
    color: #333333;
}

.box .arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #582EFF;
    position: relative;
}

.box .arrow i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: #ffffff;
}

.work .box .card:nth-child(2) {
    padding: 42px 10px 50px;
    border-top: 12px solid #FF814A;
}

.work .box:nth-child(3) .card {
    border-top: 12px solid #31C5A1;
}

.get {
    background: #31C5A1;
}

.get .wrap {
    padding: 131px 280px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
}

.get .wrap .title {
    font-size: 30px;
    font-weight: 400;
    color: #ffffff;
}

.footer-wrap {
    padding: 50px 0 55px;
    display: flex;
}

.footer-wrap .logo {
    margin-right: 160px;
}

.footer-wrap .ul {
    display: flex;
    gap: 125px;
    margin-right: 80px;
}

.footer-wrap .ul ul {
    list-style-type: none;
}

.footer-wrap .ul ul li {
    font-size: 17px;
    font-weight: 400;
    color: #333333;
}

.footer-wrap .parent {
    width: 260px;
}

.footer-wrap .parent .title {
    font-size: 17px;
    font-weight: 400;
    color: #333333;
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 425px;
    }
    .header .navbar {
        position: fixed;
        background: #ffffff;
        top: 0;
        left: 0;
        padding: 20px 130px 0;
        margin: 0 auto;
        gap: 345px;
        z-index: 999;
        transition: 0.4s;
    }
    .header .navbar .nav-menu {
        width: 100%;
        height: 100vh;
        background: #ffffff;
        z-index: 99;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
    }
    .header .navbar .nav-menu.active {
        display: block;
    }
    .header .navbar .nav-menu.active li {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 100px;
    }
    .header .navbar .burger.active .bars:nth-child(2) {
        opacity: 0;
    }
    .header .navbar .burger.active .bars:nth-child(3) {
        transform: rotate(45deg) translateY(-10px);
    }
    .header .navbar .burger.active .bars:nth-child(1) {
        transform: rotate(-45deg) translateY(8px);
    }
    .header .contact {
        left: -6%;
        position: fixed;
        z-index: 999;
    }
    .header .wrapper {
        margin-top: 80px;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 30px;
    }
    .header .navbar ul {
        display: none;
    }
    .header .navbar .burger {
        display: block;
    }
    .section .main {
        flex-direction: column-reverse;
        gap: 30px;
    }
    .right .buttons .google,
    .right .buttons .apple {
        padding: 11px 18px;
    }
    .work .box {
        flex-direction: column;
        gap: 20px;
    }
    .get .wrap {
        padding: 50px 0;
    }
    .footer-wrap {
        flex-wrap: wrap;
        flex-direction: column;
        gap: 30px;
    }
    .footer-wrap .ul {
        margin: 0;
    }
}

@media only screen and (max-width: 425px) {
    .container {
        max-width: 375px;
    }
    .header .navbar {
        padding: 20px 50px 0;
        gap: 150px;
    }
    .header .contact {
        top: 25%;
        left: -10%;
        padding: 8px;
    }
    .header .wrapper .left {
        width: 100%;
    }
    .header .wrapper img {
        width: 100%;
    }
    .main .right {
        width: 100%;
    }
}

@media only screen and (max-width: 375px) {
    .container {
        max-width: 320px;
    }
    .header .navbar {
        padding: 20px 25px 0;
    }
    .header .contact {
        left: -12%;
    }
    .buttons .google,
    .buttons .apple {
        padding: 11px 15px;
    }
    .right .buttons .google,
    .right .buttons .apple {
        padding: 11px 14px;
    }
    .section .main img {
        width: 100%;
    }
    .footer-wrap .ul {
        gap: 0;
    }
}

@media only screen and (max-width: 320px) {
    .container {
        width: 100%;
    }
    .header .navbar {
        padding: 20px;
        gap: 100px;
    }
    .header .contact {
        left: -15%;
    }
    .footer-wrap .logo {
        margin: auto;
    }
    .footer-wrap .ul {
        flex-wrap: wrap;
        flex-direction: column;
        gap: 15px;
        margin: auto;
    }
    .footer-wrap .parent {
        margin: auto;
    }
}